################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Biryukovv-Maskem-KT-41-21/obj/project.nuget.cache
/Biryukovv-Maskem-KT-41-21/obj/Biryukovv-Maskem-KT-41-21.csproj.nuget.g.targets
/Biryukovv-Maskem-KT-41-21/obj/project.assets.json
/Biryukovv-Maskem-KT-41-21/obj/Biryukovv-Maskem-KT-41-21.csproj.nuget.g.props
/Biryukovv-Maskem-KT-41-21/obj/Biryukovv-Maskem-KT-41-21.csproj.nuget.dgspec.json
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.pdb
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.sourcelink.json
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.dll
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.csproj.FileListAbsolute.txt
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.csproj.CoreCompileInputs.cache
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.csproj.AssemblyReference.cache
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.genruntimeconfig.cache
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.AssemblyInfoInputs.cache
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.assets.cache
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/ref/Biryukovv-Maskem-KT-41-21.dll
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/refint/Biryukovv-Maskem-KT-41-21.dll
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/apphost.exe
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Mono.TextTemplating.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/System.CodeDom.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Npgsql.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Humanizer.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Biryukovv-Maskem-KT-41-21.runtimeconfig.json
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Biryukovv-Maskem-KT-41-21.pdb
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Biryukovv-Maskem-KT-41-21.exe
/Biryukovv-Maskem-KT-41-21/bin/Debug/net7.0/Biryukovv-Maskem-KT-41-21.deps.json
/.vs/Biryukovv-Maskem-KT-41-21/FileContentIndex/ffe520fa-0c24-4fa1-b3a9-dea53c32f086.vsidx
/.vs/ProjectEvaluation/biryukovv-maskem-kt-41-21.strings.v9.bin
/.vs/Biryukovv-Maskem-KT-41-21/v17/DocumentLayout.json
/.vs/Biryukovv-Maskem-KT-41-21/v17/DocumentLayout.backup.json
/.vs/Biryukovv-Maskem-KT-41-21/FileContentIndex/fe83a35e-8dde-412e-9a80-781a25da28de.vsidx
/.vs/Biryukovv-Maskem-KT-41-21/FileContentIndex/acc92e14-adb0-4889-b544-9170cab5a549.vsidx
/.vs/Biryukovv-Maskem-KT-41-21/FileContentIndex/175b9ccf-e244-4fe4-86fa-eab02aa0edb6.vsidx
*.vsidx
/.vs/Biryukovv-Maskem-KT-41-21/v17/.futdcache.v2
/.vs/Biryukovv-Maskem-KT-41-21/v17/.suo
/.vs/ProjectEvaluation/biryukovv-maskem-kt-41-21.metadata.v9.bin
/.vs/ProjectEvaluation/biryukovv-maskem-kt-41-21.projects.v9.bin
/.vs/Biryukovv-Maskem-KT-41-21/DesignTimeBuild/.dtbcache.v2
/.vs/Biryukovv-Maskem-KT-41-21/FileContentIndex/50e57a9a-9a90-4537-ae17-d62e239fe68b.vsidx
/Biryukovv-Maskem-KT-41-21/obj/Debug/net7.0/Biryukovv-Maskem-KT-41-21.AssemblyInfo.cs
